{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<!-- Full-width background color -->
<div class="bg-[#F5EEDC] min-h-screen flex items-center justify-center px-4 sm:px-6 lg:px-8">
  <!-- Login Wrapper -->
  <div class="absolute top-0 left-0 right-0 h-1/6 bg-[conic-gradient(#F5EEDC_25%,#dc143c_25%_50%,#F5EEDC_50%_75%,#dc143c_75%)] bg-[size:117px_119px]">
  </div>
  
  <div class="max-w-md w-full bg-[#dc143c] p-10 rounded-lg shadow-2xl">
    <h2 class="text-center text-4xl font-extrabold text-[#F5EEDC] mb-6">
      LOGIN
    </h2>
    <form class="mt-8 space-y-6" method="POST" action="">
      {% csrf_token %}
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="username" class="sr-only">Username</label>
          <input id="username" name="username" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-rose-500 focus:border-rose-500 focus:z-10 sm:text-sm" placeholder="Username">
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input id="password" name="password" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-rose-500 focus:border-rose-500 focus:z-10 sm:text-sm" placeholder="Password">
        </div>
      </div>

      <div>
        <button type="submit"
          class="group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-medium rounded-md text-[#dc143c] bg-[#F5EEDC] hover:bg-[#DED7C7] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#dc143c] transition duration-200 ease-in-out">
          Sign in
        </button>
      </div>
    </form>

    {% if messages %}
    <div class="mt-4">
      {% for message in messages %}
      {% if message.tags == "success" %}
      <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline">{{ message }}</span>
      </div>
      {% elif message.tags == "error" %}
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline">{{ message }}</span>
      </div>
      {% else %}
      <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline">{{ message }}</span>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}

    <div class="text-center mt-6">
      <p class="text-sm text-white">
        Don't have an account yet?
        <a href="{% url 'main:register' %}" class="font-medium text-cyan-300 hover:text-cyan-400">
          Register Now
        </a>
      </p>
    </div>
  </div>

  <div class="absolute bottom-0 left-0 right-0 h-1/6 bg-[conic-gradient(#F5EEDC_25%,#dc143c_25%_50%,#F5EEDC_50%_75%,#dc143c_75%)] bg-[size:117px_119px]">
  </div>  
</div>

{% endblock content %}
